<a href="https://colab.research.google.com/github/jpcunhavasco/Tratando-dados-com-pandas/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.3 Trabalhando com dados

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('db.csv', sep=';')
pd.set_option('display.max_rows', 10)

In [ ]:
df.head(3)

            Nome  ...      Valor
0  Jetta Variant  ...   88078.64
1         Passat  ...  106161.94
2       Crossfox  ...   72832.16

[3 rows x 7 columns]

In [ ]:
df.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
df[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
1,2,3

(1, 2, 3)

In [ ]:
nome = 'passat'
valor = 153000
(nome,valor)

('passat', 153000)

In [ ]:
nome_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nome_carros[0]

'Jetta Variant'

# 2.2 Seleções em tuplas

In [ ]:
nome_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [ ]:
carro_1

'Jetta Variant'

In [ ]:
_,A,_,B =  nomes_carros

In [ ]:
A

'Passat'

In [ ]:
B

'DS5'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for carro, valor in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

### Criando dicionários com *zip()*

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [ ]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [ ]:
dados = dict(zip(carros,valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
dados = {'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
dados['Passat']

106161.94

In [ ]:
'Passat' in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [ ]:
len(dados)

3

In [ ]:
dados['DS5'] = 124549.07
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *dict[ key ] = value*

Inclui um item ao dicionário.

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [ ]:
del dados['Passat']
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [ ]:
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [ ]:
dados.update({'Passat': 106161.94, 'Fusca': 15000})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 15000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *dict.copy()*

Cria uma cópia do dicionário.

In [ ]:
dadosCopy = dados.copy()

In [ ]:
del dadosCopy['Fusca']
dadosCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [ ]:
dadosCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [ ]:
dadosCopy.pop('Passat')

106161.94

In [ ]:
dadosCopy

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [ ]:
dadosCopy.pop('passat','Chave não encontrada')

'Chave não encontrada'

## *dict.clear()*

Remove todos os itens do dicionário.

In [ ]:
dadosCopy.clear()
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [ ]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 15000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [ ]:
dadosCopy2 = dados.copy()
dadosCopy2

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 15000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [ ]:
dadosCopy2.keys()

dict_keys(['Crossfox', 'Jetta Variant', 'DS5', 'Passat', 'Fusca'])

In [ ]:
for key in dados.keys():
  print(dados[key])

72832.16
88078.64
124549.07
106161.94
15000

In [ ]:
dadosCopy2.values()

dict_values([72832.16, 88078.64, 124549.07, 106161.94, 15000])

In [ ]:
dadosCopy2.items()

dict_items([('Crossfox', 72832.16), ('Jetta Variant', 88078.64), ('DS5', 124549.07), ('Passat', 106161.94), ('Fusca', 15000)])

In [ ]:
for item in dados.items():
  print(item)

('Crossfox', 72832.16)
('Jetta Variant', 88078.64)
('DS5', 124549.07)
('Passat', 106161.94)
('Fusca', 15000)

In [ ]:
for key, value in dados.items():
  print(key, value)

Crossfox 72832.16
Jetta Variant 88078.64
DS5 124549.07
Passat 106161.94
Fusca 15000

In [ ]:
for key, value in dados.items():
  if(value > 100000):
    print(key)

DS5
Passat

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [ ]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
soma = 0
for valor in dados.values():
  soma += valor
soma

267072.74

In [ ]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [ ]:
sum(dados.values())

267072.74

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [ ]:
def media():
  valor = (1+2+3)/3
  print(valor)

In [ ]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [ ]:
def media(n_1, n_2, n_3):
  valor = (n_1 + n_2 + n_3)/ 3
  print(valor)

In [ ]:
media(1, 2, 3)

2.0

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [ ]:
media([1,2,3,4,5])

3.0

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  return valor

In [ ]:
result = media([1,2,3,4,5])

In [ ]:
result

3.0

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  return (valor, len(lista))

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [ ]:
result = media([1,2,3,4,5])
result

(3.0, 5)

In [ ]:
result, n = media([1,2,3,4,5])

In [ ]:
result

3.0

In [ ]:
n

5

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [ ]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [ ]:
carros = ['Jetta', 'Passat', 'Fusca']

In [ ]:
pd.Series(carros)

0     Jetta
1    Passat
2     Fusca
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [ ]:
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [ ]:
df[['Nome',	'Motor',	'Ano',	'Quilometragem', 'Zero_km',	'Valor']]

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [ ]:
df = pd.read_csv('db.csv', sep=';')
df.head(5)

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

### Criando um DataFrame a partir de uma arquivo externo

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [ ]:
df.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [ ]:
df['Nome']

0              Jetta Variant
1                     Passat
2                   Crossfox
3                        DS5
4           Aston Martin DB4
               ...
253             Phantom 2013
254    Cadillac Ciel concept
255               Classe GLK
256         Aston Martin DB5
257                    Macan
Name: Nome, Length: 258, dtype: object

In [ ]:
df[['Nome']]

                      Nome
0            Jetta Variant
1                   Passat
2                 Crossfox
3                      DS5
4         Aston Martin DB4
..                     ...
253           Phantom 2013
254  Cadillac Ciel concept
255             Classe GLK
256       Aston Martin DB5
257                  Macan

[258 rows x 1 columns]

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [ ]:
df[0:3]

            Nome  ...      Valor
0  Jetta Variant  ...   88078.64
1         Passat  ...  106161.94
2       Crossfox  ...   72832.16

[3 rows x 7 columns]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [ ]:
df.loc[1]

Nome                                                        Passat
Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: 1, dtype: object

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [ ]:
df.iloc[[1]]

     Nome  ...      Valor
1  Passat  ...  106161.94

[1 rows x 7 columns]

In [ ]:
df.iloc[1:4]

       Nome  ...      Valor
1    Passat  ...  106161.94
2  Crossfox  ...   72832.16
3       DS5  ...  124549.07

[3 rows x 7 columns]

In [ ]:
df.iloc[1:4, [0,5,2]]

       Nome                                         Acessórios   Ano
1    Passat  ['Central multimídia', 'Teto panorâmico', 'Fre...  1991
2  Crossfox  ['Piloto automático', 'Controle de estabilidad...  1990
3       DS5  ['Travas elétricas', '4 X 4', 'Vidros elétrico...  2019

In [ ]:
df.iloc[[1,42], [0,5,2]]

      Nome                                         Acessórios   Ano
1   Passat  ['Central multimídia', 'Teto panorâmico', 'Fre...  1991
42  Optima  ['Central multimídia', 'Ar condicionado', 'Tet...  2019

# 5.3 Queries com DataFrames

In [ ]:
df.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [ ]:
select = df.Motor == 'Motor Diesel'
select

0      False
1       True
2      False
3      False
4      False
       ...
253    False
254    False
255    False
256     True
257    False
Name: Motor, Length: 258, dtype: bool

In [ ]:
df[select]

                      Nome  ...      Valor
1                   Passat  ...  106161.94
23   Effa Hafei Picape Baú  ...  125684.65
60                 Sorento  ...   81399.35
62        New Fiesta Hatch  ...   66007.16
69          Kangoo Express  ...  146716.91
74                     Fit  ...   77836.23
78             Cielo Hatch  ...  145197.70
86                  Symbol  ...  133030.60
89                A4 Sedan  ...   96369.04
111               A4 Avant  ...  138946.88
119          Silver Shadow  ...  143568.22
124                  Camry  ...  138597.27
145                   Clio  ...  111130.33
148       Série 3 M3 Coupé  ...   69219.89
149    Gallardo LP 560 – 4  ...  144118.91
157          Chana Utility  ...  132662.32
173            TT Roadster  ...   85311.40
189    Aston Martin Virage  ...   97290.18
208                Sandero  ...  112350.61
210                    XKR  ...   54263.16
211                     X5  ...   62041.32
226           Dodge Dakota  ...  141083.35
233                 i30 CW  ...   73311.75
237           Série 7 Sedã  ...   67539.79
240                    V60  ...  114728.74
256       Aston Martin DB5  ...  122110.90

[26 rows x 7 columns]

In [ ]:
df[(df.Motor == 'Motor Diesel') & (df.Zero_km == True)]

                    Nome  ...      Valor
60               Sorento  ...   81399.35
78           Cielo Hatch  ...  145197.70
124                Camry  ...  138597.27
189  Aston Martin Virage  ...   97290.18
237         Série 7 Sedã  ...   67539.79

[5 rows x 7 columns]

### Utilizando o método query

In [ ]:
df.query('Motor == "Motor Diesel" and Zero_km == True')

                    Nome  ...      Valor
60               Sorento  ...   81399.35
78           Cielo Hatch  ...  145197.70
124                Camry  ...  138597.27
189  Aston Martin Virage  ...   97290.18
237         Série 7 Sedã  ...   67539.79

[5 rows x 7 columns]

# 5.4 Iterando com DataFrames

In [ ]:
for item in df:
  print(item)

Nome
Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [ ]:
for  index, row in df.iterrows():

# 5.5 Tratamento de dados

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [ ]:
df.Quilometragem.isna()

0      False
1      False
2      False
3       True
4      False
       ...
253    False
254    False
255    False
256    False
257    False
Name: Quilometragem, Length: 258, dtype: bool

In [ ]:
df[df.Quilometragem.isna()]

                     Nome  ...      Valor
3                     DS5  ...  124549.07
6                      A5  ...   56445.20
13                     J5  ...   53183.38
17                     A3  ...   88552.39
21              Série 1 M  ...   94564.40
..                    ...  ...        ...
238  Lamborghini Reventón  ...   67664.86
242            Benni Mini  ...  126247.84
243                   Uno  ...  128852.21
245              Santa Fe  ...  129415.33
248                  XC60  ...   77675.79

[61 rows x 7 columns]

In [ ]:
df.fillna(0, inplace= True)

In [ ]:
df.query("Zero_km == True")

                     Nome  ...      Valor
3                     DS5  ...  124549.07
6                      A5  ...   56445.20
13                     J5  ...   53183.38
17                     A3  ...   88552.39
21              Série 1 M  ...   94564.40
..                    ...  ...        ...
238  Lamborghini Reventón  ...   67664.86
242            Benni Mini  ...  126247.84
243                   Uno  ...  128852.21
245              Santa Fe  ...  129415.33
248                  XC60  ...   77675.79

[61 rows x 7 columns]